/* Common Styles */

body {
  background-color: rgb(25, 25, 25);
  margin: 0;
  padding: 0;
  color: rgb(247, 250, 253); /* Body text color */
  font-family: 'Arial', sans-serif;
}

header {
  text-align: center;
  background-color: #232c36;
  color: #fff;
  padding: 10px;
}

/*Cards*/

.choice {
    background-color: #2f4969;
    color: #fff;
    border: solid 2px;
    border-radius: 3px;
    margin: 2px;
    padding: 3px 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.choice:hover {
    background-color: #6584a5;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Flexible grid columns */
    gap: 20px;
    padding: 20px;
    justify-content: center; /* Center align cards */
}
p {
  font-size: 15px;
}

/* CSS for the modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  /* Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Text inside the modal */
  .modal-content p {
    font-size: 20px; /* Adjust the font size */
    font-weight: bolder;
  }
  