/* Common Styles */

body {
    background-color: rgb(25, 25, 25);
    margin: 0;
    padding: 0;
    color: rgb(247, 250, 253); /* Body text color */
    font-family: 'Arial', sans-serif;
}

.dark-gray-header {
    background-color: rgb(25, 25, 25);
}

header {
    background-color: #333;
    text-indent: #fff;
    padding: 10px;
    text-align: center;
}

.footer-center {
    position: absolute;
    padding: 20px;
    background-color: rgb(25, 25, 25); /* Footer center background color */
    left: 50%;
    transform: translateX(-50%);
}

footer {
    background-color: rgb(25, 25, 25); /* Footer background color */
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h3 {
    font-size: 20px;
    color: rgb(247, 250, 253); /* Updated color */
}

/* Page1 Styles */

.hero {
    height: 1250px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    background-image: url("SHIELD-Symbol.jpeg");
    background-size: cover;
    background-position: center center;
}

.header-center {
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(25, 25, 25); /* Header background color */
    padding: 20px;
}

.content {
    position: relative;
}

.announcement {
    font-size: 1.3em;
    text-align: center;
    padding-bottom: 15px;
    color: rgb(247, 250, 253); /* Updated color */
}

.background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.cta-button {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 1.25em;
    background-color: rgb(250, 250, 250);
    color: rgb(23, 23, 23);
    cursor: pointer;
}

/* Media Queries for Responsive Design */

@media screen and (max-width: 1400px) {
    .cta-button {
        font-size: 1em;
        padding: 2% 4%;
        top: 30%; /* Adjust the top position as needed */
    }
}

@media screen and (max-width: 992px) {
    .header-center {
        font-size: 1.8em;
    }

    .cta-button {
        font-size: 0.9em;
        padding: 1.5% 3%;
        top: 30%; /* Adjust the top position as needed */
    }
}

@media screen and (max-width: 768px) {
    .header-center {
        font-size: 1.5em;
    }

    .cta-button {
        font-size: 0.8em;
        padding: 1% 2%;
        top: 30%; /* Adjust the top position as needed */
    }

    .hero {
        height: 800px; /* Adjust the height accordingly */
    }
}

@media screen and (max-width: 576px) {
    .header-center {
        font-size: 1.2em;
    }

    .cta-button {
        font-size: 0.7em;
        padding: 0.5% 1%;
    }

    .hero {
        height: 600px; /* Adjust the height accordingly */
    }
}

/* Video Styles */

.header-center-video {
    font-size: 1.05rem;
    display:block;
    align-items: center;
    justify-content: center;
    background-color: rgb(25, 25, 25); /* Header background color */
    padding: 20px;
}

.footer-center-video {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: rgb(25, 25, 25); /* Footer background color */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#player {
    margin-top: 0px;
    width: 1760px; 
    height: 990px; 
}

/* Media Queries for Responsive Design in video.html */

/* For screen sizes up to 1400px */
@media screen and (max-width: 1400px) {
    .header-center-video {
        font-size: 1.8rem;
    }

    .footer-center-video {
        padding: 20px;
    }

    #player {
        width: 1200px;
        height: 675px;
    }
}

/* For screen sizes up to 992px */
@media screen and (max-width: 992px) {
    .header-center-video {
        font-size: 1.5rem;
    }

    .footer-center-video {
        padding: 15px;
    }

    #player {
        width: 900px;
        height: 506px;
    }
}

/* For screen sizes up to 768px */
@media screen and (max-width: 768px) {
    .header-center-video {
        font-size: 1.2rem;
    }

    .footer-center-video {
        padding: 10px;
    }

    #player {
        width: 700px;
        height: 394px;
    }
}

/* For screen sizes up to 576px */
@media screen and (max-width: 576px) {
    .header-center-video {
        font-size: 1rem;
    }

    .footer-center-video {
        padding: 5px;
    }

    #player {
        width: 500px;
        height: 281px;
    }
}
