body {
    background-color: rgb(23, 23, 23);
    margin: 0;
    padding: 0;
}

.dark-gray-header {
    padding: 5px;
}

.center-text {
    font-size: 2.5em;
    color: rgb(250, 250, 250);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    position: relative;
}
.announcement {
    font-size: 1.5em;
    color: rgb(250, 250, 250);
    padding: 5px;
    text-align: center;
}

.background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}